/* =============================================================
  GENERAL
  ============================================================ */

	.outside-of-container {
		background: #f4f5f6;
	}

	.roboto {
		font-family: 'Roboto Condensed', sans-serif;
	}

	.font22 {
		font-size: 22px;
	}

	.lora {
		font-family: Lora, serif;
		font-size: 18px;
		color: black !important;
	}

/* =============================================================
  NAVBAR
  ============================================================ */

.logo {
	height: 22px;
	position: absolute;
	left: 25px;
	top: 13px;
}

.date {
	display: none;
}

@media (min-width: 992px) {
	/* medium + large screens */
	.top-header {
		height: 95px !important;
	}

	.logo {
		position: relative;
		top: 18px;
		height: 65px;
	}

	.date {
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
	}

	.menu {
		display: none !important;
	}

	.top-header:after {
		display: block;
		content: "";
		position: absolute;
		right: 0;
		top: 95px;
		border-top: 13px solid #ef4921;
		border-left: 13px solid transparent;
		width: 78px;
		z-index: 100;
	}

	.navbar {
		display: inline-block !important;
		text-align: left;
		padding-right: 80px;
		width: 95%;
	}
}

@media (min-width: 1200px) {
	/* only large screens */

}

.sign-in {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 15px;
}

.sign-in .pr-3 {
	font-size: 18px;
}

.sign-in .more-than {
	font-weight: bold !important;
}

.btn {
	border-radius: 0 !important;
}

.sign-in .btn {
	height: 25px;
	padding: 1px 8px 5px 12px !important;
}

.more-than {
	height: 20px;
	padding-bottom: 4px;
}

.menu {
	filter: invert(60%) sepia(24%) saturate(781%) hue-rotate(314deg) brightness(112%) contrast(91%);
}

.top-header {
	background-color: #ef4921;
	height: 50px;
}

.navbar {
	position: relative;
	left: 0;
	right: 100px;
}

.navigation li {
	display: inline-block !important;
}

.nav-element {
	font-size: 20px;
	list-style-type: none;
}

.nav-element:hover {
	color: red;
}

.search {
	position: relative;
	font-size: 18px;
}

.search-icon {
	height: 18px;
}

/* ===================================================================
BODY
=================================================================== */

h6 {
	font-weight: bold !important;
}

.card {
	border: none !important;
}

.opinion-section {
	display: flex;
	flex-direction: column;
}

.opinion-title {
	font-size: 16px;
}

.opinion-author {
	font-size: 14px;
}

.media-body {
	width: 100%;
	float: left;
	overflow: visible;
}

.news-pic {
	width: 135px;
}

.news-title {
	font-size: 16px;
}

.n-pic {
	height: 20px;
}

.section-title {
	margin: 0 auto;
	width: 180px;
}

.sticky {
	position: sticky;
	top: 0;
}

.newsletter-pic {
	height: 300px;
	width: 190px;
	object-fit: cover !important;
}

.subscribe-pic {
	height: 230px;
	width: 170px;
}

.red-newsweek-logo {
	height: 40px;
}

.share-icon {
	height: 20px;
}

.footer-link {
	display: inline !important;
}
