/* =============================================================
  GENERAL
  ============================================================ */

	.whole-body {
		max-width: 1310px;
		background-color: white;
		position: relative;
	}

	body {
		background-color: #f4f5f6 !important;
	}

	.font14 {
		font-size: 14px;
	}

	.font16 {
		font-size: 16px;
	}

	.font17 {
		font-size: 17px;
	}

	.font18 {
		font-size: 18px;
	}

	.font20 {
		font-size: 20px;
	}

	.font22 {
		font-size: 22px;
	}

	.font24 {
		font-size: 24px;
	}

	.lora {
		font-family: Lora, serif;
		font-size: 18px;
		color: black !important;
	}

	.roboto {
		font-family: 'Roboto Condensed', sans-serif;
	}

	.pointer,
	img,
	*[class*="title"] {
		cursor: pointer;
	}

	.nav-element:hover,
	.opinion-title:hover,
	.h-red:hover {
		color: red !important;
	}

	.h-red-underline:hover {
		text-decoration: underline;
		text-decoration-color: red;
	}

/* =============================================================
  NAVBAR
  ============================================================ */

.logo {
	height: 22px;
	position: absolute;
	left: 25px;
	top: 13px;
}

.date {
	display: none;
}

@media (min-width: 992px) {
	/* medium + large screens */
	.top-header {
		height: 95px !important;
	}

	.logo {
		position: relative;
		top: 18px;
		height: 65px;
	}

	.date {
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
	}

	.menu {
		display: none !important;
	}

	.top-header:after {
		display: block;
		content: "";
		position: absolute;
		right: 0;
		top: 95px;
		border-top: 13px solid #ef4921;
		border-left: 13px solid transparent;
		width: 78px;
		z-index: 100;
	}

	.nav-container {
		width: 95% !important;
	}

	.newsletter-pic {
		height: 300px !important;
	}
}

.sign-in {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 15px;
}

.sign-in .pr-3 {
	font-size: 18px;
}

.sign-in .more-than {
	font-weight: bold !important;
}

.btn {
	border-radius: 0 !important;
}

.sign-in .btn {
	height: 25px;
	padding: 1px 8px 5px 12px !important;
}

.sign-in .btn:hover {
	background-color: white;
}

.more-than {
	height: 20px;
	padding-bottom: 4px;
}

.menu {
	filter: invert(60%) sepia(24%) saturate(781%) hue-rotate(314deg) brightness(112%) contrast(91%);
}

.top-header {
	background-color: #ef4921;
	height: 50px;
}

.navbar {
	position: relative;
	left: 0;
	right: 100px;
}

.navigation li {
	display: inline-block !important;
}

.nav-element {
	font-size: 20px;
	list-style-type: none;
}

.search {
	position: relative;
	font-size: 18px;
}

.search:hover {
	color: #6c757d !important;
}

.search-icon {
	height: 18px;
}

/* ===================================================================
BODY
=================================================================== */

h6 {
	font-weight: bold !important;
}

.card {
	border: none !important;
}

.culturetravel-section,
.culturetravel-section .card {
	background-color: #f4f5f7;
}

.opinion-section {
	display: flex;
	flex-direction: column;
}

.opinion-title {
	font-size: 16px;
}

.opinion-author {
	font-size: 14px;
}

.media-body {
	width: 100%;
	float: left;
	overflow: visible;
}

.news-pic {
	width: 135px;
}

.news-title {
	font-size: 16px;
}

.sponsored-right {
	margin: 0 auto;
	max-width: 331px !important;
}

.newsletter {
	background-color: #f4f5f6;
	margin: 0 auto !important;
	width: 300px;
}

.n-pic {
	height: 24px;
}

.btn.sign-up {
	width: 100px;
}

.section-title {
	margin: 0 auto;
	width: 180px;
}

.sticky {
	position: sticky;
	top: 0;
}

/* ====================================================================
AFTER THE 3 COLUMNS
=================================================================== */

.n-pic[alt="N"] {
	background-color: red;
	position: relative;
	height: 25px !important;
}

.n-pic[alt="N"]::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "dupa";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.big-section {
	position: relative;
	top: 4px;
}

.newsletter-pic {
	height: 190px;
	width: 190px;
	object-fit: cover !important;
}

.in-depth {
	background-color: #f4f5f6 !important;
	height: 300px;
}

.subscribe-pic {
	height: 230px;
	width: 170px;
}

.subscribe-button {
	height: 40px;
	width: 140px;
}

.bottom-button-more-than {
	height: 25px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sign-in-button {
	height: 40px;
	width: 115px;
}

.sign-in-button:hover,
.subscribe-button:hover {
	background-color: #de1f0e;
}

/* ========================================================================
FOOTER
======================================================================= */

.container-bottom {
	width: 95%;
	margin: 0 auto !important;
}

.col-9 span {
	position: relative;
	font-size: 12px;
	top: 13px;
	left: 5px;
}

.red-newsweek-logo {
	height: 35px;
}

.share-icon {
	height: 20px;
	filter: invert(42%) sepia(0%) saturate(1%) hue-rotate(47deg) brightness(90%) contrast(87%);
}

.iconf:hover {
	filter: invert(29%) sepia(83%) saturate(454%) hue-rotate(182deg) brightness(94%) contrast(87%);
}

.icontw:hover {
	filter: invert(58%) sepia(30%) saturate(6333%) hue-rotate(176deg) brightness(98%) contrast(94%);
}

.iconi:hover {
	filter: invert(33%) sepia(60%) saturate(3048%) hue-rotate(221deg) brightness(90%) contrast(99%);
}

.icontu:hover {
	filter: invert(25%) sepia(10%) saturate(1606%) hue-rotate(174deg) brightness(96%) contrast(90%);
}

.iconl:hover {
	filter: invert(24%) sepia(90%) saturate(4857%) hue-rotate(186deg) brightness(98%) contrast(102%);
}

.footer-link {
	display: inline !important;
	line-height: 2 !important;
}

.footer-link:hover {
	color: black;
	text-decoration: none;
}

/* TODO: - justify navbar??????????
- make footer responsive
- center section titles
- tweak title fonts sizes and weights
- why does newsletter not want to center
-little divs inside pics
 */
