/* =============================================================
  GENERAL
  ============================================================ */

	.roboto {
		font-family: 'Roboto Condensed', sans-serif;
	}

/* =============================================================
  NAVBAR
  ============================================================ */

.date {
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
}

.logo {
  height: 100px;
  width: 450px;
}

.sign-in,
.btn-light {
	display: flex;
	font-size: 20px;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 15px;
}

.btn {
	border-radius: 0 !important;
}

.more-than {
	height: 20px;
	padding-bottom: 4px;
}

.nav-element {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-element:hover {
	color: red;
}

.search {
	height: 18px;
}

/* ===================================================================
BODY
=================================================================== */

h6 {
	font-weight: bold !important;
}

.opinion-section {
	display: flex;
	flex-direction: column;
}

.opinion-title {
	font-size: 16px;
}

.opinion-author {
	font-size: 14px;
}

.media-body {
	width: 100%;
	float: left;
	overflow: visible;
}

.news-pic {
	width: 135px;
}

.news-title {
	font-size: 16px;
}

.n-pic {
	height: 20px;
}

.section-title {
	margin: 0 auto;
	width: 180px;
}

.sticky {
	position: sticky;
	top: 0;
}
